<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  /* :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }

  svg#rocket-smoke {
    height: calc(100vh - 95px);
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  .terminal {
    position: relative;
    width: 80%;
    max-width: 600px;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
  }

  .terminal::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: #c2c3c4;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 14px 0;
    text-indent: 4px;
  }

  .terminal pre {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
  }

  .circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }

  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  .github-star-badge {
    color: #24292e;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: 3px;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    margin-left: 4px;
    font-weight: 600;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  }

  .github-star-badge:hover {
    background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
    border-color: rgba(27,31,35,.35);
    background-position: -.5em;
  }

  .github-star-badge .material-icons {
    height: 16px;
    width: 16px;
    margin-right: 4px;
  }

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }


  /* Responsive Styles */
  @media screen and (max-width: 767px) {

    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  } */
</style>

<!-- Toolbar -->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0" nonce="C8hrtEbM"></script>
<div id="navi" *ngIf=showNav>
            <!-- <div id="container_1">
                <h1>Stock Search</h1>
                
                    <form onreset="resetView()" onsubmit="request();return false">
                        <div id="input_box" >
                    Enter Stock Ticker Symbol<span class="required">*</span> <input class="box" name="ticker" type="text" size=20 required="required" value="">
                            <input type="text" value="" style="display: none">
                        </div>
                        <div id="input_button">
                            <input class="button l" type="submit" value="Search">
                            <input class="button r" type="reset" value="Clear">
                        </div>
                    </form>
                 -->
            <h3 id="title">Stock Search</h3>
            <div id="navi_buttons">
                <button id="search" class="navi_button" (click)=showSearchButton()>Search</button>
                <button id="watchlist" class="navi_button" (click)=showWatchlistButton()>Watchlist</button>
                <button id="portfolio" class="navi_button" (click)=showPortfolioButton()>Portfolio</button>
            </div>
        </div>
        <div id="navi_buttons2" *ngIf=showNav2>
                <div class="pos-f-t">
                  <nav class="navbar navbar-dark" style="background-color: #6F4FFB;display: flex;justify-content: space-between;align-items: center;/* position: absolute; *//* top: 0; */width: 100%;padding: 3vmin;/* padding-right: 1vw; */">
                    <h2 id="title">Stock Search</h2>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  </nav>
                  <div class="collapse" id="navbarToggleExternalContent">
                    <div class="p-1" style="background-color: #6F4FFB;display: flex;flex-direction: column;justify-content: center;align-items: start;">
                      <button id="search" class="navi_button" (click)=showSearchButton()>Search</button>
                      <button id="watchlist" class="navi_button" (click)=showWatchlistButton()>Watchlist</button>
                      <button id="portfolio" class="navi_button" (click)=showPortfolioButton()>Portfolio</button>
                    </div>
                  </div>
                </div>
            </div>
        <div id="main_container">
          <ng-template #content let-modal>
                      <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">{{this.portfolioTicker.toUpperCase()}}</h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div>Current Price: <span id="price">{{this.portfolioPrice}}</span></div>
                        <form>
                          <div class="form-group row">
          
                          <label for="stock_quantity">Quantity: </label>
                            <div class="input-group col-7">
                              <form class="input_form">
                              <input id="stock_quantity" class="form-control" name="quant" type="number" step="1" min="0" [(ngModel)]=tmpQuant (ngModelChange)="checkValue($event)">
                              </form>
                            </div>
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <div>Total: <span id="total_quant">{{this.quant2}}</span></div>
                        <button id="buy_button" type="button" class="btn  btn-outline-primary" disabled="disabled" (click)="modal.close('Save click');buy(this.portfolioTicker,this.portfolioPrice, this.portfolioName)">Buy</button>
                      </div>
                    </ng-template>
            <div class="alert alert-danger" role="alert" *ngIf=showAlert1 style="text-align: center; width: 76%; margin-top: 4vmin;margin-left: 12vw;">
              No results found. Please enter valid Ticker.
            </div>
            <div class="alert alert-warning" role="alert" *ngIf=showAlert2 style="text-align: center; width: 76%; margin-top: 4vmin;margin-left: 12vw;">
              Currently you don't have any stock in your watchlist.
            </div>
            <div class="alert alert-warning" role="alert" *ngIf=showAlert3 style="text-align: center; width: 76%; margin-top: 4vmin;margin-left: 12vw;">
              Currently you don't have any stock.
            </div>
            <mat-spinner id="spinner" *ngIf="showSpinner" class="custom-spinner-color"></mat-spinner>
            <div id="search_container" *ngIf="showSearch">
                <h1 id="main_title" class=''>STOCK SEARCH</h1>
                <div id="search_box">
                  
                    <form class="input_form">
            
                    <input id="search_text_box" type="text" name="ticker" size="20" autocomplete="off" [(ngModel)]="inputString" placeholder="Enter ticker name" [formControl]="myControl" [matAutocomplete]="auto" (selectionChange)="updateSelectedValue($event.value)">
                      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                        <span *ngIf="showOptions">
                        <mat-option *ngFor="let option of options" [value]="option">
                          {{option.ticker + '|' + option.name}}
                          
                        </mat-option>
                        </span>
                    
                        <mat-option *ngIf="showSmallSpinner">
                            <mat-spinner [diameter]="40" class="custom-spinner-color"></mat-spinner>
                        </mat-option>
                      </mat-autocomplete>

                    </form>
                    
                    <button type="button" id="search_button" (click)="requestData(this.inputString)">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"></path>
                        <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"></path>
                    </svg>
                    </button>
                </div>
            </div>
            <div id="content_container" *ngIf="showContent">
                <div id="content_sub_container">
                    <div id="content_info">
                        <div id="content_info_title">
                            <h1 class="title_1">{{ticker.toUpperCase()}}
                            <svg *ngIf=starBlank (click)="star(ticker, data.summary.name)" style="color:black;margin-left: 2vmin" width="4vmin" height="4vmin" viewBox="0 0 16 16" class="bi bi-star" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
</svg>
                            <svg *ngIf=starFilled (click)="unStar(ticker)" style="color:#FDD600;margin-left: 2vmin" width="4vmin" height="4vmin" viewBox="0 0 16 16" class="bi bi-star-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
</svg>
                            </h1>
                            <h2 class="title_2">{{data.summary.name}}</h2>
                            <p class="title_3">{{data.summary.exchangeCode}}</p>
                        </div>
                        <div id="content_info_data">
                            <h1 class="title_1" [style.color]=changeColor>{{data.price.last}}</h1>
                            <h2 class="title_2" [style.color]=changeColor><span style="color: #287824" *ngIf="arrowUp">
                              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-up-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">  <path d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/></svg>
                            </span><span style="color: #F31100" *ngIf="arrowDown">
                              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
</svg>
                            </span>  {{change.toFixed(2)}}  ({{(change*100/data.price.prevClose).toFixed(2)}}%)</h2>                
                            <p class="title_3">{{curTime}}</p>
                        </div>
                    </div>
                    
                    <button class="btn btn-outline-primary" (click)="bindValue(this.ticker,this.data.price.last, this.data.summary.name, this.quant2);open(content)">Buy</button>

                    <div id="status"><span id="status_text" [style.backgroundColor]=changebgColor [style.color]=changeColor2>{{status_text}}</span></div>

                    <mat-tab-group mat-align-tabs="center">
                      <mat-tab label="Summary"><ng-template matTabContent>
                        <div id="summary_container">
                          <div id="summary_details">
                              <div id="summary_details_price">
                                <div id="summary_details_price_sub_1" *ngIf="showTable1">
                                  <table id="summary_details_price_table_1">
                                      <tbody>
                                        <tr><td>High Price: </td></tr>
                                        <tr><td>Low Price: </td></tr>
                                        <tr><td>Open Price: </td></tr>
                                        <tr><td>Prev. Close: </td></tr>
                                        <tr><td>Volume: </td></tr>
                                      </tbody>
                                    </table>
                                    <table id="summary_details_price_table_2">
                                      <tbody>
                                        <tr><td>{{this.data.price.high == null? '-' : this.data.price.high}}</td></tr>
                                        <tr><td>{{this.data.price.low == null? '-' : this.data.price.low}}</td></tr>
                                        <tr><td>{{this.data.price.open == null? '-' : this.data.price.open}}</td></tr>
                                        <tr><td>{{this.data.price.prevClose == null? '-' : this.data.price.prevClose}}</td></tr>
                                        <tr><td>{{this.data.price.volume == null? '-' : this.data.price.volume}}</td></tr>
                                      </tbody>
                                    </table>
                                </div>
                                <div id="summary_details_price_sub_2" *ngIf="showTable2">
                                  <table id="summary_details_price_table_3">
                                      <tbody>
                                        <tr><td>Mid Price: </td></tr>
                                        <tr><td>Ask Price: </td></tr>
                                        <tr><td>Ask Size: </td></tr>
                                        <tr><td>Bid Price: </td></tr>
                                        <tr><td>Bid Size: </td></tr>
                                      </tbody>
                                    </table>
                                    <table id="summary_details_price_table_4">
                                      <tbody>
                                        <tr><td>{{this.data.price.mid == null? '-' : this.data.price.mid}}</td></tr>
                                        <tr><td>{{this.data.price.askPrice == null? '-' : this.data.price.askPrice}}</td></tr>
                                        <tr><td>{{this.data.price.askSize == null? '-' : this.data.price.askSize}}</td></tr>
                                        <tr><td>{{this.data.price.bidPrice == null? '-' : this.data.price.bidPrice}}</td></tr>
                                        <tr><td>{{this.data.price.bidSize == null? '-' : this.data.price.bidSize}}</td></tr>
                                      </tbody>
                                    </table>
                                </div>
                              </div>
                              <div id="summary_details_description">
                                  <h2>Company's Description</h2>
                                  <p>Start Date: <span id="start_date">{{this.data.summary.startDate}}</span></p>
                                  <p style="text-align: justify; ">{{this.data.summary.description}}</p>
                              </div>
                          </div>
                          <div id="summary_chart" style="padding-left: 4vw; margin-top: 3vh;">
                            <highcharts-chart 
                                  [Highcharts]="Highcharts"
                                  [options]="chartOptions"
                                  [(update)]="updateFlag"
                                  [oneToOne]="oneToOneFlag"
                                  [constructorType]="chartConstructor"
                                  style="width: 100%; height: 400px; display: block;"
                                ></highcharts-chart>
                          </div>
                      </div>
                      </ng-template></mat-tab>
                      <mat-tab label="Top News"><ng-template matTabContent>
                          <ng-template #news let-modal>
                            <div class="modal-header">
                              <div id="news-header">
                              <h1 class="modal-title" id="news-title">Profile update</h1>
                              <h3 class="modal-title" id="news-date">{{this.data.news.articles}}</h3>
                              </div>
                              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <h2 id="news-body-title" style="font-weight: bold;"></h2>
                              <p id="news-body"></p>
                              <p id="news-link">For more details click <a id="news-link-a" [href]=news_link target="_blank">here</a></p>
                              <div id="social_media" class="card" style="height: auto;background-color: white;">
                                  <div class="card-body" style="padding: 0;">
                                      <p class="card-text" style="padding-left: 2px;">Share</p>
                                      <div id="news_footer">
                                        <a [href]=twURL class="twitter-share-button" data-size="large" ><img src="https://img.icons8.com/color/240/000000/twitter.png" width="50px"/></a>
                                        <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-size="large"><a target="_blank" [href]= fbURL class="fb-xfbml-parse-ignore"><img src="https://img.icons8.com/color/240/000000/facebook.png" width="50px"/></a></div>
                                      </div>
                                    </div>
                                  
                              </div>
                            </div>
    
                          </ng-template>
                          <div id="news_container">
                            <table id="news_table" class="table table-striped">
                              <tr *ngFor="let x of tmp; let idx = index;" style="">
                                <td style="border: 0; margin: 0;">
                                  <div class="card" style="margin: 0; height: auto;" (click)="openNews(news, idx)">
                                    <div class="card_frame">
                                    <img class="card-img-left" [src]=this.data.news.articles[idx].urlToImage width="80px" height="80px" alt="Card image cap">
                                    <div class="card-body">
                                      <p class="card-text">{{this.data.news.articles[idx].title}}</p>
                                    </div>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            </table>
                            <table id="news_table_2" class="table table-striped">
                              <tr *ngFor="let x of tmp; let idx = index;" style="">
                                <td style="border: 0; margin: 0;">
                                  <div class="card" style="margin: 0; height: auto;" (click)="openNews(news, idx+10)">
                                    <div class="card_frame">
                                    <img class="card-img-left" [src]=this.data.news.articles[idx+10].urlToImage width="80px" height="80px" alt="Card image cap">
                                    <div class="card-body">
                                      <p class="card-text">{{this.data.news.articles[idx+10].title}}</p>
                                    </div>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            </table>
                          </div>
                      </ng-template></mat-tab>
                      <mat-tab label="Charts"><ng-template matTabContent>
                          <div id="main_chart" style="margin-bottom: 50px;">
                            <highcharts-chart 
                                  [Highcharts]="Highcharts2"
                                  [options]="chartOptions2"
                                  [(update)]="updateFlag"
                                  [oneToOne]="oneToOneFlag"
                                  [constructorType]="chartConstructor"
                                  style="width: 100%; height: 750px; display: block;"
                                ></highcharts-chart>
                          </div>
                      </ng-template></mat-tab>
                    </mat-tab-group>
                </div>
            </div>
           
            <div id="watchlist_container" *ngIf=showWatchlist>
              <h1 class="watchlist_title" style="">My Watchlist</h1>
              <div *ngFor="let x of watchlist" class="card watchlist_card" style="width: 100%; height: auto;" (click)=requestData(x.ticker)>
                <div class="card_frame">
                <div class="card-body watchlist_card_content">
                  <button type="button" class="close" id="watchlist_close" aria-label="Close" (click)=clickUnStar(x.ticker)>
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <div id="card_title">
                    <h1 class="card-text title_1" >{{x.ticker.toLocaleUpperCase()}}</h1>
                    <h2 class="card-text title_2" >{{x.name}}</h2>
                  </div>
                   <div id="card_title">
                    <h1 class="card-text title_1" [style.color]=x.color style="font-size: 40px; justify-content: flex-end;">{{x.last}}</h1>
                    <h2 class="card-text title_2" [style.color]=x.color style="font-size: 20px; justify-content: flex-end;"><span style="color: #287824" *ngIf="x.change">
                              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-up-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">  <path d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/></svg>
                            </span><span style="color: #F31100" *ngIf="!x.change">
                              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
</svg>
                            </span>  {{(x.last - x.prevClose).toFixed(2)}}  ({{((x.last - x.prevClose)*100/x.prevClose).toFixed(2)}}%)</h2>
                  </div>
                </div>
                </div>
              </div>
            </div>
       
            <div id="portfolio_container" *ngIf="showPortfolio">
              <!-- <ng-template #content2 let-modal>
                      <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">{{ticker.toUpperCase()}}</h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div>Current Price: <span id="price">{{this.portfolioPrice}}</span></div>
                        <form>
                          <div class="form-group row">
          
                          <label for="stock_quantity">Quantity: </label>
                            <div class="input-group col-7">
                              <input id="stock_quantity" class="form-control" name="quant" type="number" step="1" min="0" [(ngModel)]=tmpQuant>
                              
                            </div>
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <div>Total: <span id="total_quant">{{quant2}}</span></div>
                        <button type="button" class="btn  btn-outline-primary" (click)="modal.close('Save click');buy(this.portfolioTicker,this.portfolioPrice, this.portfolioName)">Buy</button>
                      </div>
                    </ng-template> -->

                    <ng-template #content3 let-modal>
                      <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">{{ticker.toUpperCase()}}</h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div>Current Price: <span id="price">{{this.portfolioPrice}}</span></div>
                        <form>
                          <div class="form-group row">
          
                          <label for="stock_quantity2">Quantity: </label>
                            <div class="input-group col-7">
                              <input id="stock_quantity2" class="form-control" name="quant" type="number" step="1" min="0" [(ngModel)]=tmpQuant (ngModelChange)="sellCheckValue($event)">
                              
                            </div>
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <div>Total: <span id="total_quant">{{quant2}}</span></div>
                        <button id="sell_button" type="button" class="btn  btn-outline-primary" disabled="disabled" (click)="modal.close('Save click');sell(this.portfolioTicker,this.portfolioPrice, this.portfolioName)">Sell</button>
                      </div>
                    </ng-template>
                    
              <h1 class="watchlist_title">My Portfolio</h1>
              <div *ngFor="let x of portfolio" class="card border-primary mb-3 watchlist_card" style="width: 100%; height: auto;" >
                <div class="card-header">
                      <div class="portfolio_card_title">
                    <p class="card-text" style="font-size: 33px; margin-top: 11px; margin-bottom: 11px;margin-right: 12px;">{{x.ticker.toLocaleUpperCase()}}  </p>
                    <p class="card-text" style="font-size: 20px; font-weight: bold; color:gray">{{x.name}}</p>
                  </div>
               
                
                  </div>
                <div class="card-body portfolio_card_content">
                   <div class="portfolio_table_container">
                    <table id="portfolio_details_price_table_1" style="">
                      <tbody>
                        <tr><td>Quantity: </td></tr>
                        <tr><td>Avg. Cost / Share: </td></tr>
                        <tr><td>Total Cost: </td></tr>
                      </tbody>
                    </table>
                    <table id="portfolio_details_price_table_2" style="">
                      <tbody>
                        <tr><td>{{x.quant}}</td></tr>
                        <tr><td>{{x.avgCost}}</td></tr>
                        <tr><td>{{(x.quant * x.avgCost).toFixed(2)}}</td></tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="portfolio_table_container">
                    <table id="portfolio_details_price_table_3" style="">
                      <tbody>
                        <tr><td>Change: </td></tr>
                        <tr><td>Current Value: </td></tr>
                        <tr><td>Market Value: </td></tr>
                      </tbody>
                    </table>
                    <table id="portfolio_details_price_table_4" style="">
                      <tbody>
                        <tr><td [style.color]=x.color><span style="color: #287824" *ngIf="x.change"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-up-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">  <path d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/></svg>
                            </span><span style="color: #F31100" *ngIf="!x.change">
                              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                          </svg></span>  {{(x.last - x.prevClose).toFixed(2)}}</td></tr>
                        <tr><td [style.color]=x.color2>{{x.last}}</td></tr>
                        <tr><td [style.color]=x.color2>{{(x.last * x.quant).toFixed(2)}}</td></tr>
                      </tbody>
                    </table>
                  </div>
                  
                  </div>
                  <div class="card-footer">
                    <div id="portfolio_footer">
                        <button class="btn btn-outline-primary" (click)="bindValue(x.ticker,x.last,x.name, x.quant);open(content)" style="background-color: #006aff;">Buy</button>
                        <button class="btn btn-outline-primary" (click)="bindValue(x.ticker,x.last,x.name, x.quant);open(content3)" style="background-color: #ad0e0e; margin-left: 12px;">Sell</button>
                    </div>
                  </div>
                </div>
                </div>
              

            
        </div>
       
    <footer class="footer">
        <p>Powered by Tiingo. Developed by De Huo.</p>
    </footer>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<router-outlet></router-outlet>

